input[type="text"]{
    background-color: #26273b;
    color: #41bf43;
    margin: 3px;
    padding: 6px 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
}

button{
    background-color: #29292c;
    margin: 3px;
    padding: 3px 10px;
    border: none;
    outline: none;
    border-radius: 25px;
    vertical-align: bottom;
}

#equation{
    width: 120px;
}

.range {
    width: 20px;
}

.buttons {
    float: right;
}

#controls{
    visibility: hidden;
}

#ui{
    margin-left:40%;
    margin-top: 0%;;
    margin-right: 0;
}

#pi{
    position: absolute; margin-top: 25%; margin-left: 50%;
    visibility: hidden;
    width: 1px;
    height: 1px;
    z-index: 10001;
    transition:all 1.5s ease;
}

.transition-rotate{
    -webkit-transform: rotate(7200deg) scale(500);
    -ms-transform: rotate(720deg) scale(500);
    transform: rotate(720deg) scale(500);
    z-index: 9999;
}