*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url('/images/table.jpg');
}

.board{
    border: 100px ridge #622A0F;
    width: max-content;
    display: block;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.row{
    display: flex;
}

.square{
    height: 75px;
    width: 75px;
}

.piece{
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    width: 75px;
}

.invisible{
    transform:translateX(-9999px);
}

.profile{
    border: 10px double darkblue;
    position: absolute;
}

img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
}

#paper{
    position: absolute; margin-top: 25%; margin-left: 50%;
    visibility: hidden;
    width: 5px;
    height: 7px;
    z-index: 1;
    transition:all 1.5s ease;
}

.transition{
    -webkit-transform: rotate(7100deg) scale(100);
    -ms-transform: rotate(710deg) scale(100);
    transform: rotate(710deg) scale(100);
    z-index: 9999;
}