#mike{
    position: absolute; margin-top: 27%; margin-left: 25%; visibility: hidden;
}

#key{
    visibility:hidden; position: absolute; margin-top: 7%; margin-left: 50%; background-color: aquamarine; width: 100px; height: 100px; font-size: 48px; font-weight: bold; border-radius: 12px; border-style: groove; line-height: 100px; vertical-align: middle; text-align: center;
}

#go{
    visibility: hidden; position: absolute; margin-top: 7%; margin-left: 50%;
}

#goblin{
    visibility: hidden; position: absolute; margin-top: 27%; margin-left: 65%;
}

#tattoo{
    position: absolute; margin-top: 25%; margin-left: 50%;
    visibility: visible;
    width: 1px;
    height: 1px;
    z-index: 1;
    transition:all 1.5s ease;
}

.transition-rotate{
    -webkit-transform: rotate(740deg) scale(500);
    -ms-transform: rotate(740deg) scale(500);
    transform: rotate(740deg) scale(500);
    z-index: 9999;
}
