body {
  background-image: url('images/bg2.jpg');
}

* {
  margin: 0;
  padding: 0px;
}

.star {
  opacity: 1;
  width: 6px;
}

.sparkle {
  opacity: 0;
  width: 125px;
}

#star1 {
  position: absolute;
  left: 250px;
  top: 300px;
}

#sparkle1 {
  position: absolute;
  left: 188px;
  top: 246px;
}


#star2 {
  position: absolute;
  left: 450px;
  top: 200px;
}


#star3 {
  position: absolute;
  left: 700px;
  top: 250px;
}

#sparkle3 {
  position: absolute;
  left: 638px;
  top: 195px;
}


#star4 {
  position: absolute;
  left: 900px;
  top: 310px;
}

#sparkle4 {
  position: absolute;
  left: 838px;
  top: 255px;
}

#star5 {
  position: absolute;
  left: 1300px;
  top: 240px;
}

#star6 {
  position: absolute;
  left: 950px;
  top: 500px;
}

#star7 {
  position: absolute;
  left: 1250px;
  top: 470px;
}

#sparkle7 {
  position: absolute;
  left: 1188px;
  top: 415px;
}

.form {
  position: absolute;
  left: 500px;
  top: 600px;
}

.input-box {
  height: 50px;
  width: 50px;
  padding: 12px 17px;
  font-size: 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-box {
  height: 50px;
  padding: 12px 17px;
  font-size: 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}