body {
  background-image: url('images/bg2.jpg');
}

* {
  margin: 0;
  padding: 0px;
}

.star {
  opacity: 1;
  width: 6px;
}

.sparkle {
  opacity: 0;
  width: 125px;
}

#star1 {
  position: absolute;
  left: 350px;
  top: 300px;
}

#sparkle1 {
  position: absolute;
  left: 288px;
  top: 246px;
}


#star2 {
  position: absolute;
  left: 550px;
  top: 200px;
}


#star3 {
  position: absolute;
  left: 800px;
  top: 250px;
}

#sparkle3 {
  position: absolute;
  left: 738px;
  top: 195px;
}


#star4 {
  position: absolute;
  left: 1000px;
  top: 310px;
}

#sparkle4 {
  position: absolute;
  left: 938px;
  top: 255px;
}

#star5 {
  position: absolute;
  left: 1400px;
  top: 240px;
}

#star6 {
  position: absolute;
  left: 1050px;
  top: 500px;
}

#star7 {
  position: absolute;
  left: 1350px;
  top: 470px;
}

#sparkle7 {
  position: absolute;
  left: 1288px;
  top: 415px;
}