body {
    font-family: "Courier New";
    /* background: #004aad; */
    background-color: black;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .quiz-container {
    max-width: 600px;
    padding: 20px;
    background: #F9F4EB; /* White background for the questions */
    border: 1px solid #ccc; /* Border around the questions */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow effect */
    position: absolute;
    overflow: hidden;
    visibility: hidden;
  }
  .question {
    margin-bottom: 15px;
  }
  .options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .option-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  .option-button.selected {
    background-color: #4682A9; /* Highlight color for selected option (blue) */
    color: #F6F4EB;
    border-color: #4682A9;
  }
  .btn-submit {
    display: block;
    margin: 20px auto; /* Center the submit button */
    background-color: #4682A9; /* Blue button background color */
    color: #F6F4EB;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .total-questions {
    text-align: center;
    margin-bottom: 15px;
  }
  #result {
      text-align: center;
  }
  .images-container {
      display: flex;
      gap: 2%;
      flex-wrap: wrap;
      justify-content: center;
  }
  .mike-images {
      width: 30%;
      box-sizing: border-box;
      object-fit: cover;
      display: inline-block;
      border: none;
      border-radius: 5px;
  }

#host{
    visibility: hidden; position: absolute; margin-top: -18%; margin-right: 5%; width: 350px; height: 350px;
}

#wine{
    position: absolute; margin-top: 25%; margin-left: 50%;
    visibility: hidden;
    width: 1px;
    height: 1px;
    z-index: 1;
    transition:all 1.5s ease;
}

#desk{
  visibility: hidden; position: absolute; margin-top: 38%; margin-right: 70%; width: 650px;
}

#bottle{
  visibility: hidden;
  width: 0.79px;
  width: 2.3px;
  z-index: 1;
  transition:all 1.5s ease;;
}

#ui{
  margin-top: -35%; margin-left: 35%;
}

.transition-rotate{
    -webkit-transform: rotate(740deg) scale(230);
    -ms-transform: rotate(740deg) scale(230);
    transform: rotate(740deg) scale(230);
    z-index: 9999;
}